

.headerdiv {
     /* height: 100px; */
     width: 100%;
     /* border: 2px solid black; */
     background-color: rgb(32, 32, 32);
     padding-bottom: 10px;
     
}

li {
    padding:0;
    margin: 2%;
}
ul{
    /* text-align: left;
    display: inline-flex; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header_logo{
    /* padding-right: 1.3%; */
    width: 100%;
}



.headerlogo{
    width: 17.361vw;
}

.event{
   
    font-size: 2.2vw;
    font-weight: 900;
    color: rgb(205, 213, 255,1);
   
}
.event img {
    width: 25px;
    height: 25px;
}
.findus{
   
    font-size: 2.2vw;
    font-weight: 900;
    color: rgb(205, 213, 255,1);
   
}
.header_placeholder{
    width:22.222vw;
    height: 4.5vw;
    border-radius: 0.694vw;
    background-color: rgb(52, 48, 48);
    color: aliceblue;
    /* border: 5px groove rgb(32, 32, 32); */
    box-shadow: 2px 2px 2px 2px inset rgb(0, 0, 0)   ;
    box-shadow: -2px -2px 2px 2px inset rgb(53, 50, 50) ;
    font-weight: 900;
    font-size: 1.528vw;
    border: 2px groove black
 
}
#searchimputplaceholder::placeholder{
    color: rgb(205, 213, 255,1);
    font-size: 1.944vw;
    text-align: center;
}

.enquirebtn{
    width: 10.417vw;
    height: 3.472vw;
    border-radius: 1.042vw;
    font-size: 1.5vw;
    
    background-color: firebrick;
    font-weight: 900;
    color: rgb(205, 213, 255,1);

}

.header{
    height: 8vw;
    width: 100%;
    background-color: rgb(32, 32, 32);
}

@media only screen and (max-width:480px) and (min-width:250px){
     .headerdiv {
         height:6vw ;
         width: 100%;
     }
     .headerlogo{
         width: 18%;
     }

     .header_placeholder{
            height:6vw ;
            font-size: 4.5vw;
            width: 24vw;
     }
     .event{
         font-size: 3.3vw;
     }
     .header{
         width: 100%;
         margin-bottom: 1%;
     }
     .header_logo{
        padding-right: 0%;
     }
    .findus{
        font-size: 3.3vw;
    }
    .enquirebtn{
        font-size: 3vw;
        height: 6vw;
        width: 18vw;
        border-radius: 6vw;
    }
    #searchimputplaceholder::placeholder{
        font-size: 3vw;
       
    }
    li{
        padding: 0%;
        margin: 1%;
    }
}
@media only screen and (max-width:250px) and (min-width:100px){
    .headerdiv {
        height:6vw ;
        width: 100%;
    }
    .headerlogo{
        width: 18%;
    }

    .header_placeholder{
           height:6vw ;
           font-size: 2.5vw;
           width: 18vw;
    }
    .event{
        font-size: 3vw;
    }
    .header{
        width: 100%;
        margin-bottom: 1%;
    }
    .header_logo{
       padding-right: 0%;
    }
   .findus{
       font-size: 3vw;
   }
   .enquirebtn{
       font-size: 3vw;
       height: 6vw;
       width: 18vw;
       border-radius: 6vw;
   }
   #searchimputplaceholder::placeholder{
       font-size: 4vw;
      
   }
   li{
       padding: 0.5%;
       margin: 0.5%;
   }
}
