
.dependentvisaheading{
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.dependentvisapara{
    font-size: 1.389vw;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;

}
.dependentvisapage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 100vw;

}
.dependentvisamainhead{
    color: rgb(205, 213, 255,1);
    font-size: 2.361vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}
.dependentvisastd{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.dependentvisaheadings{
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.dependentvisaparas{
    font-size: 1.389vw;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}

@media only screen and  (max-width:480px) and (min-width:150px){
    .dependentvisapara , .dependentvisaparas {
        font-size: 2.6vw;
        width: 90%;
    }
    .dependentvisaheading , .dependentvisaheadings {
        font-size: 3.4vw;
        width: 90%;

    }
   

    .dependentvisastd{
        width: 100%;
        position: relative;
        margin-left:0%;
    }
    .dependentvisamainhead{
        font-size: 4.5vw;
        width: 90%;
    }
}