.dependentvisaheading {
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.dependentvisapara{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;

}
.dependentvisapage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 1366px;

}
.dependentvisastd{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.dependentvisaparas{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}
.dependentvisaheadings{
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.dependentvisamainhead{
    color: rgb(205, 213, 255,1);
    font-size: 34px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}

ul.dependentvisaparaul{
    list-style-type: circle;
    font-size: 20px;
color: white;
width: 45%;

}

.yournextstepdv{
    margin-top: 25%;
}