
.eb5visaheading{
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.eb5visapara{
    font-size: 1.7vw;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;

}
.eb5visapage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 100vw;

}
.eb5visamainhead{
    color: rgb(205, 213, 255,1);
    font-size: 2.361vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}
.eb5visastd{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.eb5visaheadings{
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.eb5visaparas{
    font-size: 1.7vw;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}

@media only screen and  (max-width:480px) and (min-width:150px){
    .eb5visapara , .eb5visaparas {
        font-size: 3vw;
        width: 90%;
    }
    .eb5visaheading , .eb5visaheadings {
        font-size: 3.4vw;
        width: 90%;

    }
   

    .eb5visastd{
        width: 100%;
        position: relative;
        margin-left:0%;
    }
    .eb5visamainhead{
        font-size: 4.5vw;

    }
}