.ImmigratetosouthAfricaheading {
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.ImmigratetosouthAfricapara{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;


}

.ImmigratetosouthAfricaparali{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 40%;
    margin-left: 1%;

}
.ImmigratetosouthAfricapage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 1366px;

}
.ImmigratetosouthAfricastd{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.ImmigratetosouthAfricaparas{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}
.ImmigratetosouthAfricaheadings{
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.ImmigratetosouthAfricamainhead{
    color: rgb(205, 213, 255,1);
    font-size: 34px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}
.yournextstepimmitosouth{
    margin-top: 120%;
}