.predeparturesupportheading {
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.predeparturesupportpara{
    font-size: 1.369vw;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;

}
.predeparturesupportpage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 100vw;

}
.predepartmentdiv{
    position: absolute;
    margin-top: 10%;
    margin-left: 48%;
}

.predeparturesupportparas{
    font-size: 1.369vw;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}
.predeparturesupportheadings{
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.predeparturemainhead{
    color: rgb(205, 213, 255,1);
    font-size: 2.361vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 4%;
}

@media only screen and  (max-width:480px) and (min-width:200px) {
    .predepartmentdiv{
        width: 90%;
        position: relative;
        margin-top: 10%;
        margin-left: 2%;
    }
   
    .predeparturesupportheading , .predeparturesupportheadings{
        font-size: 3.6vw;
        width: 95%;
    }
    .predeparturesupportpara, .predeparturesupportparas {
        font-size: 2.8vw;
        width: 95%;
    }
    .predeparturesupportpage{
        position: relative;
    }
    .predeparturemainhead{
        font-size: 4.2vw;
    }
}    
    