
.refusedapplicationheading{
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.refusedapplicationpara{
    font-size: 1.389vw;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;

}
.refusedapplicationpage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 100vw;

}
.refusedapplicationmainhead{
    color: rgb(205, 213, 255,1);
    font-size: 2.361vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}
.refusedapplicationstd{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.refusedapplicationheadings{
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.refusedapplicationparas{
    font-size: 1.389vw;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}

@media only screen and  (max-width:480px) and (min-width:150px){
    .refusedapplicationpara , .refusedapplicationparas {
        font-size: 3vw;
        width: 90%;
    }
    .refusedapplicationheading , .refusedapplicationheadings {
        font-size: 3.4vw;
        width: 90%;

    }
   

    .refusedapplicationstd{
        width: 100%;
        position: relative;
        margin-left:0%;
    }
    .refusedapplicationmainhead{
        font-size: 4.5vw;
        width: 90%;
    }
}