.studyinmalaysiaheading {
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.studyinmalaysiapara{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;

}
.studyinmalaysiapage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 100%;

}
.studyinmalaysiastd{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.studyinmalaysiaparas{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}
.studyinmalaysiaheadings{
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.studyinmalaysiamainhead{
    color: rgb(205, 213, 255,1);
    font-size: 34px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}
@media only screen and  (max-width:480px) and (min-width:150px){
    .studyinmalaysiapara , .studyinmalaysiaparas {
        font-size: 2.2vw;
        width: 90%;
    }
    .studyinmalaysiaheading , .studyinmalaysiaheadings {
        font-size: 3.4vw;
        width: 90%;

    }

    .studyinmalaysiastd{
        width: 100%;
        position: relative;
        margin-left:0%;
    }
    .studyinmalaysiamainhead{
        font-size: 4.5vw;

    }
    .studyinmalaysiamainhead{
        width: 90%;
    }
}