.studyinkoreaheading {
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.studyinkoreapara{
    font-size: 1.389vw;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;

}
.studyinkoreapage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 100%;

}
.studyinkoreastd{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.studyinkoreaparas{
    font-size: 1.389vw;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}
.studyinkoreaheadings{
    color: rgb(205, 213, 255,1);
    font-size: 1.806vw;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.studyinkoreamainhead{
    color: rgb(205, 213, 255,1);
    font-size: 2.361vw;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}

@media only screen and  (max-width:480px) and (min-width:150px){
    .studyinkoreapara , .studyinkoreaparas {
        font-size: 2.2vw;
        width: 90%;
    }
    .studyinkoreaheading , .studyinkoreaheadings {
        font-size: 3.4vw;
        width: 90%;

    }

    .studyinkoreastd{
        width: 100%;
        position: relative;
        margin-left:0%;
    }
    .studyinkoreamainhead{
        font-size: 4.5vw;

    }
}