.USAJ1summerworkheading {
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.USAJ1summerworkpara{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;


}

.USAJ1summerworkparali{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 40%;
    margin-left: 1%;

}
.USAJ1summerworkpage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 1366px;

}
.USAJ1summerworkstd{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.USAJ1summerworkparas{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}
.USAJ1summerworkheadings{
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.USAJ1summerworkmainhead{
    color: rgb(205, 213, 255,1);
    font-size: 34px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}
.usa1summeryns{
    margin-top: 100%;
}