.usaj1heading {
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.usaj1para{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;


}

.usaj1parali{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 40%;
    margin-left: 1%;

}
.usaj1page{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 1366px;

}
.usaj1std{
    position: absolute;
    margin-top: 7%;
    margin-left: 48%;
}
.usaj1paras{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 92%;
    margin-left: 1%;
}
.usaj1headings{
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 92%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}
.usaj1mainhead{
    color: rgb(205, 213, 255,1);
    font-size: 34px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 7%;
}
.yournextstepUSAJ1{
    margin-top: 100%;
}