.visapage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 94.861vw;

}
.visastd{
    position: absolute;
    margin-top: 6%;
    margin-left: 50%;
}
.visafirstdiv{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    row-gap: 1.736vw;
    width: 49%;
}

.visamainhead{
    color: rgb(205, 213, 255,1);
    font-size: 2.361vw;
    font: bold;
    width: 50%;
}

@media only screen and  (max-width:480px) and (min-width:200px) {
    .visafirstdiv{
         /* margin-top: -15%; */
         display: flex;
         flex-direction: column;
         width: 100%;
         /* margin-top: 30px; */
         margin-left: 0%;
         row-gap:  4vw;
         margin-bottom: 2%;

       

    }
    .visamainhead{
        font-size: 4.2vw;
    }

    .visastd{
        width: 100%;
        margin-top: 2%;
        position: relative;
        margin-left: 2%;
       
    }

}