.whatwedoheading{
    color: rgb(205, 213, 255,1);
    font-size: 26px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    margin-left: 1%;
}

.whatwedopara{
    font-size: 20px;
    color: rgb(205, 213, 255,1);
    width: 45%;
    margin-left: 1%;

}
.whatwedopage{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 1366px;
}
.whatwestd{
    position: absolute;
    margin-top: 10%;
    margin-left: 48%;
}
.nextstepdiv{
    margin-top: 100%;
}
.whatwedomainhead{
    color: rgb(205, 213, 255,1);
    font-size: 34px;
    font: bold;
    width: 40%;
    font-family:  'Montserrat', sans-serif;
    /* margin-left: 1%; */
    margin-top: 8%;
}